body{
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'DynaPuff', cursive;
} 
img{
    width: 280px;
    height: 280px;
}
#Div2,#Credits{
    background-color: whitesmoke;
}
#Credits{
    position: fixed;
    bottom:0;
    width: 100%;
}
#Div2,#Div1{
    padding: 20px;
}
button{
    background-color: lightgreen;
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
}
#Div2{
    box-shadow: 5px 5px 30px aliceblue;
}
h1{
    text-shadow: 2px 2px 5px darkslategray;
}